    * {
        padding: 0%;
        margin: 0%;
        top: 0;
        left: 0;
    }
    
    body {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    .height2 {
        padding-top: 60vh;
    }
    
    .height {
        padding-top: 2vh;
    }